body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fdba9a;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  padding-top: 10px;
  font-size: 30px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

select,
option {
  font-family: inherit;
}

footer {
  text-align: center;
  font-size: 15px;
  color: #a96851;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f8786c;
  padding: 30px;
  margin: 60px 0;
  box-shadow: 10px 5px 5px #a96851;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed grey;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.time {
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
}

.time small {
  font-size: 28px;
  vertical-align: auto;
  line-height: 30px;
}

.date {
  opacity: 0.7;
}
